* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Tahoma, Arial, Sans-serif;
}

body, html {
  background-color: #eff0f5;
  color: #424242;
  overflow-x: hidden !important;
}











/* ------------------------------- Nav Section ------------------------------- */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 20px;
  width: 100%;
  border-bottom: 1px solid #cacaca;
  background-color: #ffffff;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  text-decoration: none;
}

.nav-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-right: 15px;
  flex-direction: row-reverse;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.nav-link {
  text-decoration: none;
  color: #252f7b;
}

.nav-link:hover {
  color: #f95031;
}

@media screen and (max-width: 660px) {
  .nav {
    height: 100%;
  }

  .nav-container {
    display: flex;
    flex-direction: column;
  }

  .nav-center {
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: center;
  }

  .nav-right {
    padding: 0;
    padding-bottom: 0.9rem;
  }
}

/* ------------------------------- # Nav Section ------------------------------- */











/* ------------------------------- Flash Sale Section ------------------------------- */

.flash-sale {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flash-sale-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.flash-sale-header {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.flash-sale-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  background: #fff;
  width: 95%;
  margin-bottom: 150px;
}

.flash-sale-item {
  padding: 30px 0;
}

.flash-sale-item a {
  text-decoration: none;
}

.flash-item-img-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.flash-item-description-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 0.3rem;
}

.flash-item-name {
  font-weight: bold;
  text-decoration: none;
  color: #424242;
}

.flash-item-price {
  color: #424242;
  font-style: italic;
}

@media screen and (max-width: 320px) {
  .flash-item-img-container img {
    width: 250px;
    height: 300px;
  }
}

/* ------------------------------- # Flash Sale Section ------------------------------- */










/* ------------------------------- Product Section ------------------------------- */

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  margin-bottom: 150px;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 95%;
}

.product-name-header {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.product-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img-container img {
  height: 300px;
  width: 300px;
}

.product-price-container {
  padding: 0.5rem 0 0.5rem 0;
}

.product-price {
  font-style: italic;
}

.order-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

.order-number-input {
  height: 28px;
  width: 100%;
}

.order-number-input::-webkit-inner-spin-button {
  opacity: 1;
}

.order-btn {
  height: 28px;
  padding: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #007bff;
  color: #ffffff;
  font-weight: 500;
}

.product-description {
  width: 95%;
  text-align: center;
  padding-bottom: 1.3rem;
}

@media screen and (max-width: 320px) {
  .product-img-container img {
    height: 250px;
    width: 250px;
  }
}

/* ------------------------------- # Product Section ------------------------------- */











/* ------------------------------- Cart Section ------------------------------- */
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 200px;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.cart-table {
  width: 100%;
  background-color: #fff;
  padding: 1rem 1rem 1rem 1.5rem;
}

.cart h1 {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

th {
  padding: 10px 0;
  border-bottom: 2px solid #eff0f5;
}

td {
  padding: 10px 0rem 1rem 1rem;
}

#cart-table-row-data1 {
  position: relative;
  bottom: 2px;
}

#cart-table-row-data2 {
  position: relative;
  bottom: 4px;
}

#cart-table-row-data3 {
  position: relative;
  bottom: 6px;
}

#cart-table-row-data4 {
  position: relative;
  bottom: 8px;
}

#cart-table-row-data5 {
  position: relative;
  bottom: 10px;
}

#cart-table-row-data1:hover {
  background: #ececec ;
}

#cart-table-row-data2:hover {
  background: #ececec ;
}

#cart-table-row-data3:hover {
  background: #ececec ;
}

#cart-table-row-data4:hover {
  background: #ececec ;
}

#cart-table-row-data5:hover {
  background: #ececec ;
}

#placed {
  position: relative;
  right: 2px;
}


#items {
  position: relative;
  right: 4px;
}

#quantity {
  position: relative;
  right: 6px;
}

#total {
  position: relative;
  right: 8px;
}

#total2 {
  position: relative;
  right: 10px;
}

#table-link {
  position: relative;
  right: 10px;
}

#table-link a {
  text-decoration: none;
  color: #252f7b;
}

#table-link a:hover {
  color: #f95031;
}

#shipping2 {
  position: relative;
  right: 2px;
}

#shipping3 {
  position: relative;
  right: 4px;
}

#shipping4 {
  position: relative;
  right: 6px;
  color: transparent;
}


@media screen and (max-width: 780px) {
  #placed {
    display: none;
  }

  #shipping2 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .order {
    display: none;
  }

  #shipping4 {
    color: #000;
  }

  .shipping5 {
    color: transparent;
  }
}

/* ------------------------------- # Cart Section ------------------------------- */





















/* ------------------------------- Account Section ------------------------------- */

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.account-header {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.account-table {
  width: 100%;
  background-color: #fff;
  padding: 1rem 1rem 1rem 1rem;
  margin-bottom: 150px;
}

.account-table-link-container {
  width: 100%;
  /* background-color: red; */
  margin-bottom: 1.1rem;
  position: relative;
}

.account-table-link-container a {
  text-decoration: none;
  color: #252f7b;
  position: absolute;
  right: 0;
  top: 0;
}

.account-table-link-container a:hover {
  color: #f95031;
} 

.account-table-data-row2 {
  position: relative;
  bottom: 2px;
}

.account-table-data-row3 {
  position: relative;
  bottom: 4px;
}

.account-table-data-row1:last-child {
  position: relative;
  right: 2px;
}

.account-table-data-row2:last-child {
  position: relative;
  right: 2px;
}

.account-table-data-row3:last-child {
  position: relative;
  right: 2px;
}

.account-table-data-row2 {
  position: relative;
  bottom: 2px;
}

.account-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.account-table-row1:hover {
  background: #ececec;
}

.account-table-row2:hover {
  background: #ececec;
}

.account-table-row3:hover {
  background: #ececec;
}

/* ------------------------------- # Account Section ------------------------------- */











/* ------------------------------- Edit Account Section ------------------------------- */

.edit-account {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.edit-account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}

.edit-account-header {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.edit-account-table {
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 150px;
}

.edit-account-input {
  width: 100%;
  height: 30px;
  padding-left: 0.3rem;
}

.edit-account-btn {
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  background: #28a745;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}

.row2 {
  position: relative;
  bottom: 2px;
}

.row3 {
  position: relative;
  bottom: 4px;
}

.row4 {
  position: relative;
  bottom: 6px;
}

.row5 {
  position: relative;
  bottom: 8px;
}

.row6 {
  position: relative;
  bottom: 10px;
}

.row1:last-child {
  position: relative;
  right: 2px;
}

.row2:last-child {
  position: relative;
  right: 2px;
}

.row3:last-child {
  position: relative;
  right: 2px;
}

.row4:last-child {
  position: relative;
  right: 2px;
}

.row5:last-child {
  position: relative;
  right: 2px;
}

.row6:last-child {
  position: relative;
  right: 2px;
}

.edit-account-row {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  height: 55px;
}

.edit-account-data {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.edit-account-row input{
  position: relative;
  right: 15px;
}

.account-row1:hover {
  background: #ececec;
}

.account-row2:hover {
  background: #ececec;
}

.account-row3:hover {
  background: #ececec;
}

.account-row4:hover {
  background: #ececec;
}

.account-row5:hover {
  background: #ececec;
}

.account-row6:hover {
  background: #ececec;
}

.account-row3 {
  padding-top: 13px;
}

.account-row4 {
  padding-top: 16px;
}

.account-row5 {
  padding-top: 20px;
}

.account-row6 {
  padding-top: 25px;
}

/* ------------------------------- # Edit Account Section ------------------------------- */











/* ------------------------------- Footer Section ------------------------------- */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 120px;
  position: fixed;
  bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  background: #fff;
  width: 50%;
  gap: 20px;
  padding: 0 30px;
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  height: 70px;
}

.footer-right span {
  text-align: end;
}

.follow-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  min-width: 80px;

}

.social-media-link-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 0.5rem;
  min-width: 70px;
}

/* ------------------------------- Footer Section ------------------------------- */